<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="MikesContactsConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Michael\Documents\Visual Studio 2015\Projects\MikesContacts.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="mikeConnectionString" connectionString="Data Source=Mike-321191;Initial Catalog=mike;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mikeConnectionString2" connectionString="Data Source=Mike-321191;Initial Catalog=mike;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mikeConnectionStringOrder_ID" connectionString="Data Source=Mike-321191;Initial Catalog=mike;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mikeConnectionStringCust" connectionString="Data Source=Mike-321191;Initial Catalog=mike;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mikeConStringProducts" connectionString="Data Source=Mike-321191;Initial Catalog=mike;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
